/* Theme */

main {
	background-image: linear-gradient(to right top, #115083, #275d95, #396ba6, #4b79b9, #5c87cb, #7494d5, #8aa1df, #9fafe9, #bac0ed, #d2d3f1, #e7e6f5, #fafafa);
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}