/* Theme */

main {
	background-image: linear-gradient(to right top, #0277bd, #3280c5, #4a89cd, #5e92d5, #709bdd, #7da5e2, #89aee8, #96b8ed, #a3c4f1, #b1d0f6, #c0dbfa, #d0e7fe);
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}