/* Theme */

main {
	background-image: linear-gradient(to right top, #49647a, #577288, #657f96, #738ea4, #819cb3, #8fa7bd, #9cb1c7, #aabcd1, #b9c6d8, #c8d0df, #d6dbe5, #e4e6ec);
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}